@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

header {
  position: relative;
  height: 1000px;
  background-image: linear-gradient(#FF5F6D, #FFC371);
  clip-path: polygon(0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw));
}

.projects {
  position: relative;
  bottom: -10;
  height: 1000px;
  background-image: linear-gradient(rgb(31, 126, 86), rgb(180, 212, 65));
}

h1 {
  text-align: center;
  padding: 400px 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: absolute;
  font-size: 150px;
  text-align: inherit;
  text-align: center;
  color: #ffffff;
}

.section1 {
  margin-top: -5vw;
  background-image: linear-gradient(135deg, #1D4350, #A43931);
  height: 1200px;
  /* clip-path: polygon(0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)); */
}

.section2 {
  clip-path: polygon(10 10, 100% 0, 100% 100%, 0 calc(100% + 5vw));
  margin-top: -5vw;
  height: 1000px;
  background-image: linear-gradient(135deg, rgb(33, 88, 207), rgb(152, 201, 37));
}

.section3 {
  clip-path: polygon(10 10, 100% 0, 100% 100%, 0 calc(100% + 5vw));
  margin-top: -5vw;
  height: 1000px;
  background-image: linear-gradient(135deg, rgb(207, 33, 135), rgb(37, 201, 37));
}